#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
  max-height: 100%;
}

html {
  height: 100vh;
  /* overflow: scroll; */
}

body {
  background-image: url("../src/assets/oldbooksgold.jpg"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f6f4e6;
  background-size: cover;
    /* attachment is what let you wrap it to the screen properly */
  background-attachment: fixed;
  overflow: hidden;
  color: #f6f4e6;
 }

 .MainBody {
  background-color: #d9d3c1d1;
  border-radius: 2%;
  color: white;
  /* border-style: solid;
  border-color: white;
  border-width: 3px; */
  flex-wrap: wrap;
  padding-top: 5px;
  margin-top: 30px;
 }

 button {
  background-color: #401f26;
  color: #f6f4e6;
  border-radius: 4%;
 }


/* 
Colors from book palette:
#D9D3C1 - light beige
#735736 - dark tan
#A6986F - gold
#142126 - like a black green 
#401E01 - red brown
#172626 - deep dark green 
#2A1F40 - dark purple
*/